<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/autism"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fgautism_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ICT4GS"
        tools:targetApi="31">

        <!-- Make LoginActivity the launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ICT4GS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Remove launcher from MainActivity -->
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ICT4GS.NoActionBar" />

        <activity android:name=".ui.training.AutismTestActivity"
            android:theme="@style/Theme.ICT4GS"/>
        <activity android:name=".ui.training.AutismVideosActivity"
            android:theme="@style/Theme.ICT4GS"/>
        <activity android:name=".ui.training.AutismInfoActivity"
            android:theme="@style/Theme.ICT4GS"/>

        <activity android:name=".ui.home.PostDetailActivity"
            android:theme="@style/Theme.ICT4GS"/>


    </application>


</manifest>